dist/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no"><meta name="viewport" content="width=device-width, user-scalable=no"><link rel="stylesheet" href="./assets/style/main.css"><title data-lang="TITLE">Spring Invaders Paytable</title></head><body><div class="logo"></div><header><div class="buttons"><a class="btn active" href="#features" id="featuresBtn"><span data-lang="NAV_FEATURES">FEATURES</span></a><a class="btn" href="#symbols" id="symbolsBtn"><span data-lang="NAV_SYMBOLS">SYMBOLS</span></a><a class="btn" href="#paylines" id="paylinesBtn"><span data-lang="NAV_LINES">LINES</span></a></div></header><div class="paytable-wrapper"><div class="container"><div class="section-holder"><section class="feature" id="features"><ul><li><h2 data-lang="WILD">Wild</h2><div class="imgCont"><img src="./assets/img/ft-01.png"></div><div class="txt"><hr class="features-line"><span data-lang="IN_WILD_DESC">Substitutes all symbols except Mystery Symbol.</span><hr class="features-line"></div></li><li><h2 data-lang="MYSTERY_SYMBOLS">Mystery Symbols</h2><div class="imgCont"><img src="./assets/img/ft-02.png"></div><div class="txt"><hr class="features-line"><span data-lang="IN_MYSTERY_SYMBOLS_DESC">3 Mystery Symbols reward a random multiplier between x1-x50, 4 Mystery Symbols reward a random multiplier between x5-x500.</span><hr class="features-line"></div></li></ul></section><section class="feature"><div class="header-box"><h2 class="gamble" data-lang="GAMBLE">GAMBLE</h2></div><div class="box"><div class="gamble-img"><img class="img" src="./assets/img/gamble.png"></div><div class="gamble-info"><div class="txt" data-lang="IN_GAMBLE_DESC">To gamble on any win Gamble button is clicked. The player is asked to choose between two symbols. Max. number of gamble is 5.</div></div></div></section><section class="symbols" id="symbols"><h2 data-lang="SYMBOLS">Symbols</h2><ul class="symbols-first"><li><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-01.png"></div><div class="holder"><p> <span class="symbol-colour">4X</span><span>50-5000</span></p><p> <span class="symbol-colour">3X </span><span>10-500</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-02.png"></div><div class="holder"><p><span class="symbol-colour">4X </span><span>5000</span></p><p> <span class="symbol-colour">3X </span><span>500</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img src="./assets/img/symbol-03.png"></div><div class="holder"><p> <span class="symbol-colour">4x </span><span>800</span></p><p> <span class="symbol-colour">3x </span><span>100</span></p></div></div></li><li><div class="symbol-container"><div class="imgContainer"><img src="./assets/img/symbol-04.png"></div><div class="holder"><p> <span class="symbol-colour">4X </span><span>400</span></p><p> <span class="symbol-colour">3X </span><span>80</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-05.png"></div><div class="holder"><p> <span class="symbol-colour">4X </span><span>160</span></p><p> <span class="symbol-colour">3X</span><span>40</span></p></div></div></li></ul><ul class="symbols-second"><li><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-06.png"></div><div class="holder"><p> <span class="symbol-colour">4X </span><span>160</span></p><p> <span class="symbol-colour">3X </span><span>40</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-07.png"></div><div class="holder"><p> <span class="symbol-colour">4X </span><span>80</span></p><p> <span class="symbol-colour">3X </span><span>20</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img src="./assets/img/symbol-08.png"></div><div class="holder"><p> <span class="symbol-colour">4X</span><span>80</span></p><p> <span class="symbol-colour">3X </span><span>20</span></p></div></div></li><li><div class="symbol-container"><div class="imgContainer"><img src="./assets/img/symbol-09.png"></div><div class="holder"><p> <span class="symbol-colour">4x  </span><span>40</span></p><p> <span class="symbol-colour">3x  </span><span>10</span></p></div></div><div class="symbol-container"><div class="imgContainer"><img class="img" src="./assets/img/symbol-10.png"></div><div class="holder"><p> <span class="symbol-colour">4X   </span><span>40</span></p><p> <span class="symbol-colour">3X </span><span>10</span></p></div></div></li></ul></section><section class="paylines" id="paylines"><h2 data-lang="PAYLINES">Paylines</h2><div class="holder"><div class="paylines-images"><img src="./assets/img/paytable-01.png"><img src="./assets/img/paytable-02.png"></div></div><div class="txt"><hr class="features-line"><span data-lang="IN_PAYLINES_DESC">There are no paylines. Win is rewarded when matching symbols appear anywhere on adjacent reels from leftmost to right. Only the highest win per bet way is paid. Malfunction voids all pays and plays.</span><hr class="features-line"></div></section></div></div></div><div class="content-bg"></div><div class="splash-bg"></div><div id="playBtn"><div class="start"></div><div class="body"><span data-lang="BTN_PLAY">PLAY</span></div><div class="end"></div></div><script src="./assets/script/smooth-scroll.js"></script><script src="./assets/script/app.js"></script></body></html>

build/pug/index.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width initial-scale=1 user-scalable=no')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='./assets/style/main.css')
    title(data-lang='TITLE') Spring Invaders Paytable
  body
    .logo
    header
      .buttons
        a(href="#features")#featuresBtn.btn.active
          span(data-lang="NAV_FEATURES") FEATURES
        a(href="#symbols")#symbolsBtn.btn
          span(data-lang="NAV_SYMBOLS") SYMBOLS
        a(href="#paylines")#paylinesBtn.btn
          span(data-lang="NAV_LINES") LINES
    .paytable-wrapper
      .container
        .section-holder
          section.feature#features
            ul
              li
                h2(data-lang='WILD') Wild
                .imgCont
                  img(src='./assets/img/ft-01.png')
                .txt
                  hr.features-line
                  span(data-lang='IN_WILD_DESC') Substitutes all symbols except Mystery Symbol.
                  hr.features-line
              li
                h2(data-lang='MYSTERY_SYMBOLS') Mystery Symbols
                .imgCont
                  img(src='./assets/img/ft-02.png')
                .txt
                  hr.features-line
                  span(data-lang='IN_MYSTERY_SYMBOLS_DESC')
                    |3 Mystery Symbols reward a random multiplier between x1-x50, 4 Mystery Symbols reward a random multiplier between x5-x500.
                  hr.features-line
          section.feature
            .header-box
                h2.gamble(data-lang="GAMBLE") GAMBLE
           
            .box
              .gamble-img
                img.img(src="./assets/img/gamble.png")
              
              .gamble-info
                .txt(data-lang="IN_GAMBLE_DESC") To gamble on any win Gamble button is clicked. The player is asked to choose between two symbols. Max. number of gamble is 5.
          
          section#symbols.symbols
            h2(data-lang='SYMBOLS') Symbols
            ul.symbols-first
              li
                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-01.png')
                  .holder
                    p 
                      span.symbol-colour 4X
                      span 50-5000
                    p 
                      span.symbol-colour 3X 
                      span 10-500
                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-02.png')
                  .holder
                    p
                      span.symbol-colour 4X 
                      span 5000
                    p 
                      span.symbol-colour 3X 
                      span 500
                .symbol-container
                  .imgContainer
                    img(src='./assets/img/symbol-03.png')
                  .holder
                    p 
                      span.symbol-colour 4x 
                      span 800
                    p 
                      span.symbol-colour 3x 
                      span 100
              li
                .symbol-container
                  .imgContainer
                    img(src='./assets/img/symbol-04.png')
                  .holder
                    p 
                      span.symbol-colour 4X 
                      span 400
                    p 
                      span.symbol-colour 3X 
                      span 80
                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-05.png')
                  .holder
                    p 
                      span.symbol-colour 4X 
                      span 160
                    p 
                      span.symbol-colour 3X
                      span 40
            ul.symbols-second
              li
                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-06.png')
                  .holder
                    p 
                      span.symbol-colour 4X 
                      span 160
                    p 
                      span.symbol-colour 3X 
                      span 40

                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-07.png')
                  .holder
                    p 
                      span.symbol-colour 4X 
                      span 80
                    p 
                      span.symbol-colour 3X 
                      span 20
                .symbol-container
                  .imgContainer
                    img(src='./assets/img/symbol-08.png')
                  .holder
                    p 
                      span.symbol-colour 4X
                      span 80
                    p 
                      span.symbol-colour 3X 
                      span 20
              li

                .symbol-container
                  .imgContainer
                    img(src='./assets/img/symbol-09.png')
                  .holder
                    p 
                      span.symbol-colour 4x  
                      span 40
                    p 
                      span.symbol-colour 3x  
                      span 10
                .symbol-container
                  .imgContainer
                    img.img(src='./assets/img/symbol-10.png')
                  .holder
                    p 
                      span.symbol-colour 4X   
                      span 40
                    p 
                      span.symbol-colour 3X 
                      span 10

          section#paylines.paylines
            h2(data-lang='PAYLINES') Paylines
            .holder
              .paylines-images
                  img(src='./assets/img/paytable-01.png')
                  img(src='./assets/img/paytable-02.png')
            .txt
              hr.features-line
              span(data-lang='IN_PAYLINES_DESC')
                | There are no paylines. Win is rewarded when matching symbols appear anywhere on adjacent reels from leftmost to right. Only the highest win per bet way is paid. Malfunction voids all pays and plays.
              hr.features-line
    .content-bg
    .splash-bg
    #playBtn
      .start
      .body
        span(data-lang='BTN_PLAY') PLAY
      .end
    script(src='./assets/script/smooth-scroll.js')
    script(src='./assets/script/app.js')
